#cusform{
    margin: 0 auto;
    margin-left: 300px;
    margin-right: 300px;
    padding-left: 150px;
    background-color: indigo;
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
    border-radius: 40px;
    border-width: 6px;
    border-style: solid ;
    border-color:#4169e1;
}
input{
    margin-bottom: 10px;
    padding: 8px;
    width: 70%;
}
label{
    font-weight: bold;
    padding-right: 50px;
    text-align: left;
}
h1{
    color: darkslateblue;
}
hr{
    height: 5px;
    background-color: crimson;
}
body{
    background-color: skyblue;
}
button{
    width: 80px;
    height: 30px;
    font-weight: bold;
    color: darkred;
    margin-left: 150px;
    background-color: #33bfff;
    border-radius: 6px;
}
#addbutton:hover{
    background-color: #1c54b2;
    color: white;
}

.loader {
    border: 16px solid #9ecaad;
    border-radius: 70%;
    border-top: 18px solid #e93204;
    margin-left: 560px;
    width: 120px;
    height: 120px;
    bottom: 300px;
    visibility: hidden;
    -webkit-animation: spin 5s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    position: relative
}
  
  /* Safari */
@keyframes spin {
   0% { transform: rotate(0deg); }
   100% { transform: rotate(360deg); }
}